---
---

@import "{{ site.theme }}";
section {
  float: left;
  margin: 0 1.5%;
  width: 75%;
  background-color : white;
}
aside {
  float: right;
  margin: 0 1.5%;
  width: 20%;
  background-color : white;
}


